<html>
<head>
    <style>
        body {
            background-image: url("https://cdn.glitch.global/3f77f752-07bc-49c4-a0de-c1f152ea05c5/JPML03-Diabetes-Prediction-using-Machine-Learning.jpg?v=1688579070737");
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <div align="center" class="main">
        <h1>PREDICTING DIABETES USING MACHINE LEARNING</h1>
        <br />
        <form action="/" method="POST">
            <table>
                <tr>
                    <td align="right"><strong>Age:</strong></td>
                    <td align="left"><input type="text" name="age" required /></td>
                </tr>
                <tr>
                    <td align="right"><strong>Hypertension:</strong></td>
                    <td align="left"><input type="text" name="hypertension" required /></td>
                </tr>
                <tr>
                    <td align="right"><strong>Heart Disease:</strong></td>
                    <td align="left"><input type="text" name="heart_disease" required /></td>
                </tr>
                <tr>
                    <td align="right"><strong>BMI:</strong></td>
                    <td align="left"><input type="text" name="bmi" required /></td>
                </tr>
                <tr>
                    <td align="right"><strong>HbA1c Level:</strong></td>
                    <td align="left"><input type="text" name="HbA1c_level" required /></td>
                </tr>
                <tr>
                    <td align="right"><strong>Blood Glucose Level:</strong></td>
                    <td align="left"><input type="text" name="blood_glucose_level" required /></td>
                </tr>
            </table>
            <input type="submit" value="PREDICT" />
        </form>
        <br>
        <div> Result: </div>
        <div align="center"> {{data}} </div>
        <br>
        {% if data == "yes" %}
        <h1>
          You have Diabetes
        </h1>
        {% elif data == "no" %}
        <h1>
          You Don't have Diabetes
        </h1>
        {% endif %}
    </div>
</body>
</html>
